@import "./colors.scss";

.campaigns {
  & > main {
    h1 {
      font-weight: bold;
      font-size: 2.9rem;
      color: $blue-medium;
    }

    .campaigns-table {
      overflow: auto;
      & > table {
        width: 100%;
        font-size: 16px;
        font-weight: normal;
        background: $grey-light;
        color: $grey-blue;
        min-width: 750px;
        & > thead {
          & > tr {
            & > th {
              padding: 15px;
            }
          }
        }
        & > tbody {
          background: white;
          & > tr {
            & > td {
              padding: 20px;
            }
          }
        }
      }
    }
  }
}
