@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

.app-header {
  background: $blue;
  height: 80px;
  color: white;
  padding: 0px 7vw;
  @include small {
    height: auto;
    padding: 10px 10vw;
  }
  & > .app-header-logo {
    & > div {
      span:first-child {
        color: white;
        font-size: 18px;
      }
      span:last-child {
        color: $green1;
        line-height: 0.2;
        font-size: 12px;
        filter: brightness(1.5);
      }
    }
  }
}
